%html
  %head
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    :css

  %body
    #chat


    :javascript
      var es = new EventSource('/stream');
      es.onmessage = function(e) { console.log('whoa'); if (e.data != '') $('#chat').prepend(e.data + "<br/>") }; // modified