%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
:css

#chat.clearfix

:javascript
  var es = new EventSource('/stream');
  es.onmessage = function(e) {
    if (e.data != ''){
      data = jQuery.parseJSON(e.data)
      $('#chat').append("<div class='message'><div class='username'>"+ data.username +"</div><div class='content'>"+ data.message +"</div>") ;
      $("html, body").animate({ scrollTop: $(document).height() }, 0);
    }
  }